@charset "utf-8";

/* variables ------------------ */

:root {
  --primary-color: #24b4d7;
  --opacity-color: rgba(255, 255, 255, .3);
}

/* animation -------------------- */

.ani-fade {
  opacity: 0;
  animation-name: fade;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.ani-delay-5 {
  animation-delay: 5s;
}

.ani-delay-10 {
  animation-delay: 10s;
}

.ani-delay-15 {
  animation-delay: 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.ani-blend-color {
  animation-name: blend-color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes blend-color {
  0% {
    color: #fff;
  }
  5% {
    color: var(--primary-color);
  }
  50% {
    color: var(--primary-color);
  }
  55% {
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
/* helper---------------------- */


.h-container-m{
  max-width: 1200px;
}

.h-container-s{
  max-width: 1000px;
}


.h-mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.h-img-resp{
  max-width: 100%;
  height: auto;
}

.h-row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.h-gradient-stripe{
  background-color: var(--primary-color);
    background-image: linear-gradient(
    -45deg,
    var(--opacity-color) 0%,
    var(--opacity-color) 25%,
    transparent 26%,
    transparent 50%,
    var(--opacity-color) 51%,
    var(--opacity-color) 75%,
    transparent 76%,
    transparent 100%
  );
  background-size: 7px 7px;
}


/* reset -------------------- */

body {
  font-family: "Noto Sans TC", serif;
}

img {
  vertical-align: bottom;
}

/* header ---------------- */

.header {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-head,
.header-body,
.header-foot {
  padding: .5rem .7rem;
}

.header-foot {
  display: none;
}

.header-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
}

/* nav ------------------ */

.nav-ul {
  display: flex;
}

.nav-li {
  margin-left: 1rem;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-btnWrap {
  display: none;
}

/* banner ---------------- */

.banner {
  position: relative;
  /* background-color: pink; */
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-head {
  color: var(--primary-color);
  text-align: center;
  padding: 5rem;
  z-index: 2;
  position: relative;
  /* background-color: rgba(255, 255, 255, .5); */
  /* background-color: pink; */
  background-image: linear-gradient(
    -45deg,
    var(--opacity-color) 0%,
    var(--opacity-color) 25%,
    transparent 26%,
    transparent 50%,
    var(--opacity-color) 51%,
    var(--opacity-color) 75%,
    transparent 76%,
    transparent 100%
  );
  background-size: 7px 7px;
}

.banner-body {
  position: absolute;
  width: 100%;
  top: 0;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 30px;
}

.banner-subtitle {
  font-size: 2rem;
  font-weight: 500;
}

.banner-description {
  font-size: 2rem;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-color: pink;
}





/* section---------------------- */


.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section-title{
font-size: 2.5rem;
font-weight: 600;
line-height: 1.3 ;
}

.section-subtitle{
  font-size: 2rem;
  margin-bottom: 1.5em;
  text-align: center;
  color: rgba(0, 0, 0, .7);
  
}

.section-underline::after {
  content: "";
  display: block;
  border-bottom: solid 3px rgba(0, 0, 0, .6);
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.section-description{
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  line-height: 1.7;
}

.section-btnWrap{
  text-align: center;
}


.section-btn{
  display:inline-block;
  padding: .6em 1em .7em;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 5px;
  transition-duration:3s ;
}

.section-btn-primary{
  color: #fff;
  background-color: var(--primary-color);
}
.section-btn:hover{
  opacity: .8;
}


.section-btn-light{
  color: var(--primary-color);
  background-color: #fff;
}

.section-grid{
  display: grid;   
  /* grid-template-columns: 200px 500px 300px; */
  /* 新朋友 均分網格(grid) gap快速產生間距 */
  grid-template-columns: repeat(3,1fr);    
  gap: 2rem;
}


/* .section-body{
  background-color: pink;
} */

/* .section-info------------------- */

.section-info .section-container{
  display: flex;
  flex-wrap: wrap;
}

.section-info .section-head{
  width: 60%;
  /* background-color: yellowgreen; */
}

.section-info .section-body{
  width: 40%;
  /* background-color: yellow;  */
}

.section-info .section-foot{
  width: 100%;
  /* background-color: pink; */
}

.section-info .section-title {
color: var(--primary-color);
}
.section-img-student {
transform: scale(1.1);
transform-origin: left top;
clip-path: polygon(20% 0,100% 0, 80% 70%, 0 70%);
z-index: 2;
position: relative;
}

.section-img-discuss {
  transform: scale(2);
  transform-origin: right top;
  clip-path: polygon(50% 0,100% 0, 60% 90%, 15% 90%);
  }

  /* .section-subject------------------- */

  .section-subject{
    background-color: var(--primary-color);
    background-image: linear-gradient(
    -45deg,
    var(--opacity-color) 0%,
    var(--opacity-color) 25%,
    transparent 26%,
    transparent 50%,
    var(--opacity-color) 51%,
    var(--opacity-color) 75%,
    transparent 76%,
    transparent 100%
  );
  background-size: 7px 7px;
  }


  .section-subject .section-head{
    text-align: center;
  }


  .section-subject .section-title{
    padding: .5em 1em;
    color: var(--primary-color);
    background-color: #fff;
    display: inline-block;
  }

  .section-subject .section-body{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

/* section-result---------------- */

.section-result .section-head{
  text-align: center;
 
}

  /* card------------------ */

  .card{
background-color: #fff;
  }

.card-tag{
 position: absolute;
 padding: .5rem 1rem .6rem;
 color: #fff;
 background-color: rgba(0, 0%,0 , .7);
 /* background-color: yellowgreen; */

}

.card-img{
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card-title
.card-description{
  padding: 1rem;
}

.card-title{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;
}

.card-description{
color: rgba(0, 0,0 , .5);
}

/* result----------- */

.result{
  /* background-color: pink; */
  padding: 3rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0%,0 , .7);
}

.result-num{
  font-size: 3rem;
  color:var(--primary-color)
}

.result-foot{
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .4);
}